# Environment / secrets
docker/.env
*.env
!*.env.example

# Build artifacts
target/
node_modules/
dist/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# UI build output
ui-ngx/dist/
ui-ngx/.angular/

# Gradle
.gradle/
build/
ui_modifocation_guide/
ui-ngx/proxy.conf.json
